@font-face {
    font-family: "Ubuntu";
    src: url(/assets/img/fonts/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Open sans";
    src: url(/assets/img/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}

* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

/* Navbar */

a {
    text-decoration: none !important;
}

.nav-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
}

.nav-div h1 {
    font-family: "Open sans";
    font-weight: 400;
    font-size: 16px;
    padding: 1.5%;
    height: 0px;
}

#contact {
    color: #20908B;
}

/* Banner */

.banner {
    background-color: #EE701C;
    color: white;
    height: 350px;
    margin-left: -8px;
    text-align: center;
    font-family: "Ubuntu";
}

.banner h1 {
    font-size: 60px;
    padding-top: 80px;
}

.banner h2 {
   font-weight: 100;
   font-size: 19px;
   margin-top: 1rem;
}

.icons-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.icons-container img {
    height: 57px;
    width: 57px;
    color: white;
}

/* Section 2 */

.section-2 {
    background-color: #FDEFE7;
    height: 470px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.white-container {
    margin-top: 4%;
    font-family: "Ubuntu";
    text-align: center;
    width: 350px;
    height: 345px;
    border-radius: 25px;
    background-color: white;
    box-shadow: -2px 10px 13px -7px rgba(171,171,171,1);
}

.white-container h2 {
    font-weight: 300;
    font-size: 14px;
}
.circle {
    background-color: #20908B;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.div-images {
    margin-top: 25%;
    height: 50px;
}

.section-2 h1 {
    margin-bottom: 4%;
}



/* Section 3 */

.section-3 {
    background-color: #20908B;
    color: white;
    height: 750px;
    font-family: "Ubuntu";
    text-align: center;
}

.section-3 h1 {
    font-size: 40px;
}

.section-3 p {
    font-weight: 300;
    font-size: 15px;
}

button {
    background-color: #EE701C;
    border-radius: 16px;
    width: 170px;
    border: none;
    height: 67px;
    color: white;
    font-size: 16px;
    margin-top: 1%;
}

.man {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-top: 5%;
}

@media only screen and (max-width: 767px) {

    /* Nav */

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-div h1 {
        display: none;
    }

    /* Banner */

    .banner {
        height: 320px;
    }

    .banner h1 {
        font-size: 2.25rem;
        padding-top: 80px;
    }
    
    .banner h2 {
       font-weight: 100;
       font-size: 0.75rem;
       margin-top: 1rem;
    }

    /* Section 2 */

    .icons-container {
        margin-top: 2rem;
    }

    .icons-container img {
        height: 45px;
        width: 45px;
        color: white;
    }

    .section-2 {
        height: 945px;
        padding-top: 10%;
    }

    .white-container {
        width: 235px;
        height: 220px;
    }

    .white-container h2 {
        font-size: 12px
    }

    /* Section 3 */

    .section-3 {
        height: 445px;
    }

    .section-3 h1 {
        font-size: 22px;
        margin-bottom: 1%;
    }

    .section-3 p {
        font-size: 11px;
    }

    button {
        margin-top: 5%;
    }

    .circle {
        height: 80px;
        width: 80px;
    }

    .div-images {
        height: 40px;
    }

    .man {
        height: 180px;
        width: 180px
    }

}