/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* COLORS */

:root {
    --dark-grey: #545C66;
}

/* FONTS */

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("/assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

/* NAVBAR */

.logo {
    width: 55%;
    margin-left: 35%;
}

/* SECTION 1 */

.col-md-6 {
    padding: 0%;
}

.section-1 {
    margin-left: 0%;
    padding-left: 0%
}

.section-1 h1 {
    font-family: "Ubuntu";
    color: var(--dark-grey)
    font-size: 72px;
}

.section-1 h2 {
    font-family: "Roboto";
    font-size: 20px;
}

.section-1 p {
    font-family: "Open sans";
    font-size: 24px;
    color: var(--dark-grey);
}

.content {
    background-color: #EAEAEC;
    height: 100%;
}

.architecture-img {
    width: 100%;
}

#button-learn-more {
    border-radius: 0%;
    width: 42%;
    background-color: var(--dark-grey);
}