/* CSS RESET */

* {
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
}

/* Du fait du CSS reset, certaines marges n'ont pas pu être actualisées avec Bootstrap et on du être forcées avec "!important" */


/* COLORS */

:root {
    --dark-grey: #545C66;
    --light-grey: #EAEAEC;
}

/* FONTS */

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("/assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

p {
    font-family: "Open Sans";
}

/* NAVBAR */

.logo {
    width: 55%;
    margin-left: 50% !important;
}

/* SECTION 1 */

.col-md-6 {
    padding: 0%;
}

.section-1 article {
    height: 80% !important;
}

.section-1 .content {
    padding-left: 10% !important;
    padding-bottom: 10% !important;
}

.section-1 h1 {
    font-family: "Ubuntu";
    color: var(--dark-grey);
    font-size: 72px;
}

.section-1 h2 {
    font-family: "Roboto";
    font-size: 20px;
    letter-spacing: 4px;
    padding-top: 20% !important;
}

.section-1 p {
    font-size: 24px;
    color: var(--dark-grey);
    margin-bottom: 0%;
}

#section-1-row {
    background-color: var(--light-grey);
}


.architecture-img {
    width: 100%;
    height: 80%;
}

#button-learn-more {
    border-radius: 0%;
    width: 28%;
    background-color: var(--dark-grey);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

/* SECTION 2 */

.section-2 {
    padding: 4% !important;
}

.section-2 p {
    font-size: 15px;
    font-weight: 300!;
}

.section-2 #design {
    letter-spacing: 10px;
}

.section-2 h2 {
    font-family: "Ubuntu";
    color: var(--dark-grey);
    font-size: 60px;
    font-weight: 100;
    padding: 2% !important;
}

#button-learn-more-2 {
    border: 2px solid black;
    border-radius: 0%;
    min-width: 20%;
    font-weight: 600;
    
}

/* SECTION 3 */

.section-3 h2 {
    color: white;
    font-size: 48px;
    font-family: "Ubuntu";
    padding: 12% !important;
}

.section-3 p {
    font-size: 16px;
    padding-left: 10% !important;
}

.section-3 .container {
    width: 100%;
}

#section-3-row {
    margin-top: 10% !important;
}

/* SECTION 4 */
.section-4 {
    background-color: black !important;
}

#section-4-container {
    margin-bottom: 5% !important;
}

.section-4 .row {
    margin-left: 10% !important;
}

.section-4 h2 {
    font-family: "Ubuntu";
    font-size: 72px;
}

.section-4 h3 {
    font-family: "Roboto";
}

.section-4 h5 {
    padding-bottom: 3% !important;
}

.section-4 p {
    font-size: 16px;
}

.section-4 img {
    /* height: 10%; */
    height: 56px;
}


/* SECTION 5 */

.section-5 {
    background-image: url(/assets/images/pexelsphoto3366940.jpeg);
    background-position: center bottom;
    background-size: cover;
    height: 720px;
}

.section-5 p {
    font-size: 20px;
    margin-right: 10% !important;
    font-weight: 500;
}

/* SECTION 6 */

.section-6 h3 {
    color: var(--dark-grey);
    font-family: "Ubuntu";
    font-size: 48px;
    font-weight: 900;
}

.section-6 h4 {
    font-family: "Playfair Display";
    font-size: 36px;
}

.section-6 h5 {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
}

/* SECTION 7  */


.section-7 .container {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: var(--dark-grey);
    
    font-family: "Open Sans";
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.footer-text {
    white-space: nowrap;
    height: 5rem;
}

footer p {
    color: white;
}

.link {
    color: #ACCBE9;
}




